body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("../img/amq-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}
